@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #9068c1, #3892db);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #1e1e1eb2;
  opacity: 70;
  z-index: -1;
}

.text-button:hover {
  background: linear-gradient(to right, #9068c1, #3892db);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-bg{
  -webkit-background-clip: text;
  background: linear-gradient(to right, #9068c1, #3892db);

}

.gradient-text {
  background: linear-gradient(to right, #9068c1, #3892db);
  -webkit-background-clip: text;
  color: transparent;
}

.outline-btn {
  position: relative;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #9068c1, #3892db) 1;
}

.outline-btn:hover {
  border-image: linear-gradient(to right, #3892db, #9068c1) 1;
}

.custom-border{
  border-image: linear-gradient(to right, #9068c1, #3892db) 1;
}

.bg-custom{
  background: linear-gradient(to right, #3892db, #9068c1);
}

.blur-bottom::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -20px;
  right: -20px;
  height: 160px;
  background: linear-gradient(to right, #3f344e, #254056);
  filter: blur(15px);
  pointer-events: none;
  z-index: 2;
}
.rounded-custom{
  border-radius: 64px !important;
}
